.container-fluid
  .row-fluid
    .span12
  .row-fluid
    .span1
    .span10
      .row-fluid
      - @opportunities.each do |opportunity|
        .row-fluid
          .span4.offset1
            %h4= opportunity.title
          .span4.offset2.span-add-padding
            %i(class="icon-file")
              %a(href="/opportunity/view.#{opportunity.id}")View
            -if opportunity.user_id != current_user.id
              %i(class="icon-comment")
                %a(href="/opportunity/contact.#{opportunity.id}")Contact
        .row-fluid
          .span1
            %img{:src => "http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(opportunity.user.email)}", :alt => 'Avatar', :class => 'avatar', :value => "#{opportunity.user_id}"}
          .span8
            %dl(class= 'dl-horizontal , dl-no-margin')
              .well.well-small
                %dt Skills:
                %dd= opportunity.skills.map(&:name).join(", ")
                %dt Description:
                %dd= opportunity.description
      .pagination.pagination-left
        = will_paginate @opportunities
