.container-fluid
  .row-fluid
    .span12
      .span10.offset2
        %h3 Available Opportunities
        .table
          %table(class='table-striped')
            %thead
              %tr
                %th Title
                %th Skills
                %th Description
                %th
            %tbody
              - @opportunities.each do |opportunity|
                %tr
                  %td= opportunity.title
                  %td= opportunity.skills 
                  %td= opportunity.description
                  %td
                    %a(href="/opportunity/contact.#{opportunity.id}")Contact
        .pagination.pagination-left
          = will_paginate @opportunities
