.container-fluid
  .row-fluid
    .span12
  .row-fluid
    .span6.offset2
      %h3 #{opportunity.title}
  .row-fluid
    .span1.offset2
      %img{:src => "http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(opportunity.user.email)}", :alt => 'Avatar', :class => 'avatar'}
    .span6
      %dl(class= 'dl-horizontal')
        %dt Description:
        %dd #{opportunity.description}
        %dt Skills:
        %dd #{opportunity.skills.map(&:name).join(", ")}
  .row-fluid
    .span12
  .row-fuild
    .span7.offset2
      %h4 Messages:
      .table
        %table(class='table-striped')
          %tbody
            - @messages.each do |message|
              - if message.recipient_id == current_user.id
                %tr
                  %td
                    %img{:src => "http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(message.sender.email)}", :alt => 'Avatar', :class => 'avatar', :value => "#{message.sender.id}"}
                  %td= message.body
              - elsif message.recipient_id == receiver.to_i
                %tr
                  %td
                    %img{:src => "http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(message.sender.email)}", :alt => 'Avatar', :class => 'avatar', :value => "#{message.sender.id}"}
                  %td= message.body
          %tr
            %td
              %form{ :action => "/opportunity/send_message.#{opportunity.id}?user=#{@receiver}", :method => "POST"}
                %input{type: 'hidden', name: 'page', value: 'vetting'}
                - if current_user == opportunity.user
                  %input{type: 'hidden', name: 'user_id', value: @receiver}
                %fieldset
                  %label{:for => "title"} message:
                  %input{:type => "text", :placeholder => "reply here...",
                         :name => "body", :id => "Message:"}
                %button{:type => "submit", :class => "btn"}Reply
