.container-fluid
  .row-fluid
    .span12
  .row-fluid
    .span6.offset2
      %h2 Opportunity: #{opportunity.title}
    .span6.offset2
      %h4 Description: #{opportunity.description}
  .row-fluid
    .span12
    .span6.offset2
      .table
        %table
          %legend Messages
          %thead
            %tr
              %th User
              %th Message
          %tbody
            - @messages.each do |user_id, message|
              %tr
                %td= message.sender.username
                %td= message.body.to_s
                %td
                  %form{ :action => "/opportunity/book.#{opportunity.id}", :method => "POST"}
                    - @user = message.sender.id
                    %input{:name => "user", :type => "hidden", :value => @user}
                    %button{:type => "submit", :class => "btn"}Book them
                %td
                  %a(href="/opportunity/conversation.#{opportunity.id}?user=#{message.sender.id}")Conversation
