.container-fluid
  .row-fluid
    .span12
  .row-fluid
    .span6.offset2
      %form{ :action => "/opportunity/update.#{opportunity.id}", :method => "POST"}
        %fieldset
          %legend Edit '#{opportunity.title}'
          %label{:for => "title"} Title:
          %input{:type => "text", :name => "opportunity[title]",
                 :placeholder => "#{opportunity.title}", :id => "Title:"}
          %label{:for => "skills"} Skills:
          %input{:type => "text", :name => "opportunity[skills]",
                 :placeholder => "#{opportunity.skills.map(&:name).join(", ")}",
                 :id => "Skills:"}
          %label{:for => "description"} Description:
          %textarea{:name => "opportunity[description]", 
                    :placeholder => "#{opportunity.description}", :id => "Description:"}
        %button{:type => "submit", :class => "btn"}Submit
