.container-fluid
  .row-fluid
    .span12
  .row-fluid
    .span6.offset2
      %h2 Opportunity: #{opportunity.title}
    .span6.offset2
      %img{:src => "http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(opportunity.user.email)}", :alt => 'Avatar', :class => 'avatar'}
    .span6.offset2
      %h4 Description: #{opportunity.description}
      %h4 Skills: #{opportunity.skills.map(&:name).join(", ")}
    .span6.offset2
      %h3 Messages:
      .table
        %table(class='table-striped')
          %thead
            %tr
              %th
                %th Message
          %tbody
            - @messages.each do |message|
              %tr
                %td
                  %img{:src => "http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(opportunity.user.email)}", :alt => 'Avatar', :class => 'avatar', :value => "#{opportunity.user_id}"}
                %td= message.body
            %tr
              %td
                %form{ :action => "/opportunity/send_message.#{opportunity.id}", :method => "POST"}
                  - if current_user == opportunity.user
                    %input{type: 'hidden', name: 'user_id', value: @apprentice_id}
                  %fieldset
                    %label{:for => "title"} Send them a message:
                    %input{:type => "text", :placeholder => "reply here...",
                           :name => "body", :id => "Message:"}
                  %button{:type => "submit", :class => "btn"}Reply


