.container-fluid
  .row-fluid
    .span12
      .span6.offset2
        %h1 Hello, #{current_user.username} 
        .table
          %table{:class => 'table-striped'}
            %thead
              %tr(id="header")
                %th(colspan="3")Authored Opportunities
              %tr(id="titles")
                %th Title
                %th Skills
                %th Description
            %tbody
              - @user_opportunities.each do |opportunity|
                %tr
                  %td= opportunity.title
                  %td= opportunity.skills.map(&:name).join(", ")
                  %td= opportunity.description
                  %td
                    %a(href="/opportunity/edit.#{opportunity.id}")Edit
                    %a(href="/opportunity/confirm_deactivate.#{opportunity.id}")Close
                    %a(href="/opportunity/messages.#{opportunity.id}")Messages
        .table
          %table{:class => 'table-striped'}
            %thead
              %tr(id="header")
                %th(colspan="3")Booked Opportunities
              %tr(id="titles")
                %th Title
                %th Author
                %th Skills
                %th Description
            %tbody
              - @booked_opportunities.all(:active => true).each do |booked_opportunity|
                %tr
                  %td= booked_opportunity.title
                  %td= booked_opportunity.user.username
                  %td= booked_opportunity.skills.map(&:name).join(", ")
                  %td= booked_opportunity.description
                  %td
                    %a(href="/opportunity/conversation.#{booked_opportunity.id}")Conversation
                  %td
                    - if gratz = booked_opportunity.gratitudes.first(:sender_id => current_user.id)
                      %p -thanked
                    - else
                      %a(href="opportunity/thanks.#{booked_opportunity.id}")Thanks
              - @booked_opportunities.all(:active => false).each do |booked_opportunity|
                - unless gratz = booked_opportunity.gratitudes.first(:sender_id => current_user.id)
                  %tr
                    %td= booked_opportunity.title
                    %td= booked_opportunity.user.username
                    %td= booked_opportunity.skills.map(&:name).join(", ")
                    %td= booked_opportunity.description
                    %td
                      %a(href="opportunity/thanks.#{booked_opportunity.id}")Thanks
        .table
          %table{:class => 'table-striped'}
            %thead
              %tr(id="header")
                %th(colspan="3")Contacted Opportunities
              %tr(id="titles")
                %th Title
                %th Author
                %th Skills
                %th Description
            %tbody
              - @messaged_opportunities.all(:active => true).each do |messaged_opportunity|
                - unless messaged_opportunity.booked_users.include?(current_user) || messaged_opportunity.user == current_user
                  %tr
                    %td= messaged_opportunity.title
                    %td= messaged_opportunity.user.username
                    %td= messaged_opportunity.skills.map(&:name).join(", ")
                    %td= messaged_opportunity.description
                    %td
                      %a(href="/opportunity/vetting.#{messaged_opportunity.id}")View
      .span3
        %h4 Profile
        %img{:src => "http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(current_user.email)}", :alt => 'Avatar', :class => 'avatar', :value => "#{current_user.id}"}
        %dl
          %dt Name:
          %dd #{user.first_name} #{user.last_name}
          %dt Contact Email:
          %dd #{user.email}
          %dt Skills I want:
          %dd #{list_skills_desired(user)}
          %dt Skills I have:
          %dd #{list_skills_acquired(user)}
          %dt Bio:
          %dd #{user.bio}
          %dt
            %a(href="/profile/update.#{user.id}")Edit Profile
