.container-fluid
  .row-fluid
    .span12
      .span8.offset2
        %h1 Hello, #{current_user.username} 
        .table
          %table{:class => 'table-striped'}
            %thead
              %tr(id="header")
                %th(colspan="3")Authored Opportunities
              %tr(id="titles")
                %th Title
                %th Skills
                %th Description
            %tbody
              - @user_opportunities.each do |opportunity|
                %tr
                  %td= opportunity.title
                  %td= opportunity.skills.map(&:name).join(", ")
                  %td= opportunity.description
                  %td
                    %a(href="/opportunity/edit.#{opportunity.id}")Edit
                    %a(href="/opportunity/confirm_deactivate.#{opportunity.id}")Close
                    %a(href="/opportunity/messages.#{opportunity.id}")Messages
        .table
          %table{:class => 'table-striped'}
            %thead
              %tr(id="header")
                %th(colspan="3")Booked Opportunities
              %tr(id="titles")
                %th Title
                %th Skills
                %th Description
            %tbody
              - @booked_opportunities.all(:active => true).each do |booked_opportunity|
                %tr
                  %td= booked_opportunity.title
                  %td= booked_opportunity.skills.map(&:name).join(", ")
                  %td= booked_opportunity.description
                  %td
                    %a(href="/opportunity/conversation.#{booked_opportunity.id}")Conversation
                  %td
                    - if gratz = booked_opportunity.gratitudes.first(:sender_id => current_user.id)
                      %p -thanked
                    - else
                      %a(href="opportunity/thanks.#{booked_opportunity.id}")Thanks
              - @booked_opportunities.all(:active => false).each do |booked_opportunity|
                - unless gratz = booked_opportunity.gratitudes.first(:sender_id => current_user.id)
                  %tr
                    %td= booked_opportunity.title
                    %td= booked_opportunity.skills.map(&:name).join(", ")
                    %td= booked_opportunity.description
                    %td
                      %a(href="opportunity/thanks.#{booked_opportunity.id}")Thanks
        .table
          %table{:class => 'table-striped'}
            %thead
              %tr(id="header")
                %th(colspan="3")Contacted Opportunities
              %tr(id="titles")
                %th Title
                %th Skills
                %th Description
            %tbody
              - @messaged_opportunities.all(:active => true).each do |messaged_opportunity|
                - unless messaged_opportunity.booked_users.include? current_user
                  %tr
                    %td= messaged_opportunity.title
                    %td= messaged_opportunity.skills.map(&:name).join(", ")
                    %td= messaged_opportunity.description
                    %td
                      %a(href="/opportunity/view.#{messaged_opportunity.id}")View
      .span2
        %h4 Profile
        %h6 #{user.first_name} #{user.last_name}
        %h6 contact email: #{user.email}
        %h6 current bio:
        %p #{user.bio}
        %a(href="/profile/update.#{user.id}")Update Profile
